<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Great Number Game</title>
</head>
<body>
   <h1>Welcome to th Great Number Game!</h1> 
   <h4>I am thinking of a number between 1 and 100</h4>
   <h4>Take a guess</h4>

   <div><h1>Too low!</h1></div>
   <div><h1>Too high!</h1></div>
   <div><h1>was the number!</h1></div>
   <form action="" method="">
    <input type="text" id="guess" name="guess"><br><br>
    <input type="submit" value="Submit">
  </form>
</body>
</html>
